<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lernplatform Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://localhost:3000/files/menu.js"></script>
</head>
<body>
<div id="menu"></div>
<div class="container">
    <form method="post" action="http://localhost:3000/course/create">
        <div class="form-group">
            <label for="coursename">Titel</label>
            <input class="form-control" type="text" id="coursename" name="coursename" placeholder="Titel"/>
        </div>
        <div class="form-group">
            <label for="description">Beschreibung</label>
            <textarea class="form-control" type="textfield" id="description" name="description" placeholder="Beschreibung"></textarea>
        </div>
        <button class="btn btn-primary" id="saveCourse">Kurs anlegen</button>
    </form>
</div>
</body>
<script>
    $(document).ready(function(){

        $changeMethodBody = function(coursename){
        }

    });
</script>
</html>