<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studenten verwalten</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://localhost:3000/files/choices.js"></script>
    <script src="http://localhost:3000/files/menu.js"></script>
</head>
<body>
<div id="menu"></div>
<div class="container">

    <form method="post" action="http://localhost:3000/course/students">
        <div id="choice"></div>
        <hr>
        <div id="students">

        </div>
        <button class="btn btn-primary" type="submit" id="saveChanges">Zum Kurs hinzufügen</button>
    </form>
</div>
</body>
<style>
    .userBox {
        margin: 5px;
        width: 48%;
        height: 400px;
        border: 1px solid grey;
    }
</style>
<script>
    $(document).ready(function () {

        $changeMethodBody = function (coursename) {
            $.get("http://localhost:3000/course/availableStudents/?coursename=\"" + coursename +"\"" , function (students) {
                var elements = "<p>Verf&uumlgbare Studenten f&uumlr diesen Kurs : " + students.length+ "</p>";
                for (var user in students) {
                    var username = students[user].username;
                    var input =
                        "<div class=\"form-check\" >" +
                        "<input type=\"checkbox\" class=\"form-check-input\" " +
                        " name='" + username + "'" +
                        " value='" + username + "' id=\"" + username + "\">" +
                        "<label class=\"form-check-label\" for=\"" + username + "\">" + username + "</label>" +
                        "</div>";
                    elements += input;

                }
                $('#students').html(elements)
            });
        }
    });
</script>
</html>