<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%- include("./snippets/head") %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Lernplattform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active">Anmelden</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div id="login" class="card mx-auto" style="width: 400px">
        <div class="card-header">Anmelden</div>
        <div class="card-body">
            <form id="loginForm" action="/user/login/" method="post">
                <div class="form-group">
                    <label for="loginUsername">Benutzername</label>
                    <input class="form-control" id="loginUsername" name="username" type="text"/>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Passwort</label>
                    <input class="form-control" id="loginPassword" name="password" type="password"/>
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
                <button type="button" data-action="change" class="btn btn-dark float-right">Registrieren</button>
            </form>
        </div>
    </div>
    <div id="register" class="card mx-auto" style="width: 400px; display: none">
        <div class="card-header">Registrieren</div>
        <div class="card-body">
            <form id="target" action="/user/register" method="post">
                <div class="form-group">
                    <label for="username">Benutzername</label>
                    <input class="form-control" id="username" type="text" name="username"/>
                </div>
                <div class="form-group">
                    <label for="surname">Vorname</label>
                    <input class="form-control" id="surname" type="text" name="surname"/>
                </div>
                <div class="form-group">
                    <label for="lastname">Nachname</label>
                    <input class="form-control" id="lastname" type="text" name="lastname"/>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input class="form-control" id="email" type="text" name="email"/>
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input class="form-control" id="password" type="password" name="password"/>
                </div>
                <div class="form-group">
                    <label for="password">Passwort wiederholen</label>
                    <input class="form-control" id="passwordConf" type="password" name="passwordConf"/>
                </div>
                <div class="form-group">
                    <label for="role">Rolle</label>
                    <select class="form-control" id="role" name="role">
                        <option value="Admin">Lehrbeauftragter</option>
                        <option value="Student">Student</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Registrieren</button>
                <button type="button" data-action="change" class="btn btn-dark float-right">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        var $login = $('#login');
        var $register = $('#register');
        $login.find('[data-action="change"]').click(function() {
            $login.hide();
            $register.show();
        });
        $register.find('[data-action="change"]').click(function() {
            $register.hide();
            $login.show();
        });
    });
</script>
</html>