<div class="modal fade" id="modalEditStudentList" tabindex="-1" role="dialog" aria-labelledby="modalEditStudentList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Studenten bearbeiten</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/course/update/students">
                <div class="modal-body">
                    <input type="hidden" name="coursename" value="<%= course.coursename %>">
                    <div data-student-list style="margin-bottom: 10px;">

                    </div>
                    <div class="input-group">
                        <select class="custom-select">
                            <option selected>Student...</option>
                        </select>
                        <div class="input-group-append">
                            <button data-action="addStudent" class="btn btn-outline-success" type="button">Hinzufügen</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <button class="btn btn-primary" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const Student = (name) => `<span>
            <input type="hidden" name="student" value="${name}"/>
            ${name} <a href="#" class="fa fa-times"></a>
        </span>`;
        const SelectStudent = (name) => `<option>${name}</option>`;
        <% course.students.forEach(function(student){ %>
            addStudent("<%= student %>");
        <% }); %>
        function addStudent(name) {
            // Schaue nach ob der Student schon drin ist..
            let hasSameName = false;
            $('#modalEditStudentList [name="student"]').each(function() {
                if ($(this).val() == name)
                    hasSameName = true;
            });
            if (hasSameName) return;
            const $stud = $(Student(name));
            $('#modalEditStudentList [data-student-list]').append($stud);
            $stud.find(".fa-times").click(function() {
                $stud.remove();
            })
        }
        const $AllStudentList = $('#modalEditStudentList .custom-select')
        $.get("/students", function (students) {
            for(var i = 0; i < students.length; i++) {
                $AllStudentList.append(SelectStudent(students[i].username));
            }
        });
        $('#modalEditStudentList [data-action="addStudent"]').click(function() {
            if ($AllStudentList.prop('selectedIndex') == 0)
                return;
            addStudent($AllStudentList.val());
        });
    });
</script>