<span data-display="username" class="navbar-text" style="margin-right: 10px">
    <%= user.username %>
</span>
<form class="form-inline">
    <a class="btn btn-dark" type="button" href="/user/logout">Ausloggen</a>
</form>