<div class="col-lg-4" style="margin-bottom: 20px">
    <div class="card">
        <div class="card-header">
            <%= theme.themename %>
        </div>
        <div class="card-body">
            <% for(var i = 0; i < theme.files.length; i++) { %>
            <a target="_blank" href="/file/download?id=<%= theme.files[i]._id %>"><%= theme.files[i].filename %></a>,
            <% } %>
            <% if(user.isAdmin) { %>
            <hr>
            <div data-file-upload="<%= theme._id %>" class="btn btn-primary">Datei hochladen</div>
            <% } %>
        </div>
    </div>
</div>